.footer {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

@media screen and (max-width:750px) {
  .footer {
    flex-direction: column;
  } 
}